#phaser-example {
    width: 300px;
    height: 550px;
    display: block;
    margin: auto;
    margin-top: 10px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
body {
    margin: auto;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#center {
    width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 5px;
    float: right;
}
